<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static '/style.css' %}">
    <title>Disclaimer</title>
</head>
<body class="text-linear">
    <div class="container-fluid text-min">
        <nav>
            <div class="float-start text-light text-red px-5">
                <p id="color">blogpro</p>
            </div>
            <div class="float-end px-5">
                <a href="/signup">Home</a>
                <a href="/about">About</a>
                <a href="/contact">Contact Us</a>
                <a href="/login">Login</a>
            </div>
        </nav>
        <div>
            <marquee behavior="sliding" direction="left">
                <h3 class="fw-bold text-light">BLOGPRO Everything you need to know about!</h3>
            </marquee>
        </div>
    </div>
    <div class="container bg-body-secondary my-3 p-4">
    <h1 class="text-center">Disclaimer for RG</h1>
</p>
<p>If you require any more information or have any questions about our site's disclaimer, please feel free to contact us by email at dhaliwalkulwinder1977@gmail.com.

<h2 class="text-center">Disclaimers for blogpro</h2>

<p>All the information on this website - http://127.0.0.1:8000/ - is published in good faith and for general information purpose only. blogpro does not make any warranties about the completeness, reliability and accuracy of this information. Any action you take upon the information you find on this website (blogpro), is strictly at your own risk. blogpro will not be liable for any losses and/or damages in connection with the use of our website.</p>

<p>From our website, you can visit other websites by following hyperlinks to such external sites. While we strive to provide only quality links to useful and ethical websites, we have no control over the content and nature of these sites. These links to other websites do not imply a recommendation for all the content found on these sites. Site owners and content may change without notice and may occur before we have the opportunity to remove a link which may have gone 'bad'.</p>

<p>Please be also aware that when you leave our website, other sites may have different privacy policies and terms which are beyond our control. Please be sure to check the Privacy Policies of these sites as well as their "Terms of Service" before engaging in any business or uploading any information.</p>

<h2 class="text-center">Consent</h2>

<p>By using our website, you hereby consent to our disclaimer and agree to its terms.</p>

<h4 class="text-center">Update</h4>

<p>Should we update, amend or make any changes to this document, those changes will be prominently posted here.</p>
</div>
<div class="container-fluid text-min ">
    <footer>
        <div class="row">
            <div class="col-4 p-1 float-start text-light text-red px-5">
                <p id="color">blogpro</p>
            </div>
            <div class="col-4 p-1">
                <ul>
                    <li><a href="/about" class="wh">About Us</a></li>
                    <li><a href="/disclaimer" class="wh">Disclaimer</a></li>
                    <li><a href="/contact" class="wh">Contact us</a></li>

                </ul>
            </div>
            <div class="col-4 p-1">
                <ul>
                    <li><a href="" class="wh">Terms of services</a></li>
                    <li><a href="" class="wh">Privacy Policy</a></li>
                    <li><a href="" class="wh">Content Policy</a></li>
                </ul>
            </div>
        </div>
        <div class=" text-center text-light down">&#169 2020 Copyright:blogpro.com</div>
</div>
</footer>
</div>

</body>
</html>